@charset "UTF-8";
/* ------------------------------------------------------- */
/* 基本設定です。 */
/* ------------------------------------------------------- */

h1 {
  font-size: 90px;
  font-weight: bold;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 60px;
}

p, a {
  font-size: 16px;
}

header {
  position: fixed;
  z-index: 100;
  padding: 10px;
  height:50px ;
  width: 100%;
  background: rgb(255, 255, 255);
  top: 0;
}

body {
  width: 350vw;
  height: 100vh;
  writing-mode: vertical-rl;
  font-family: "はれのそら明朝", "黎ミンY30 M", sans-serif;
  src: url("../others/hare");
  position: relative;
}

section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: auto;
}

/* ------------------------------------------------------- */
/* ハンバーガーメニュー部分です。 */
/* ------------------------------------------------------- */

#nav-drawer {
  position: relative;
}

/* チェックボックス等は非表示に */
.nav-unshown {
  display: none;
}

/* アイコンのスペース */
#nav-open {
  display: inline-block;
  width: 40px;
  height: 20px;
  vertical-align: middle;
}

/* ハンバーガーの形をCSSで表現 */
 #nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 2px;
  線の太さ
  width: 35px;
  長さ
  background: #555;
  display: block;
  cursor: pointer;
  content: '';
 }

 #nav-open span:before {
  bottom: -8px;
}

#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒箇所*/
 #nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
/* ------------------------------------------------------- */
/*背景部分です。 */
/* ------------------------------------------------------- */
.background {
  /* background-color: rgb(179, 210, 197);
  position: relative;
  width: 100%;
  height: 100%; */
}
/* ------------------------------------------------------- */
/* ファーストビュー部分です。 */
/* ------------------------------------------------------- */

.first-view{
  right: 0;
}

.FirstViewImg{
  background-image: url("../img/first-view.png");
  background-size: cover;
  width: 100%;
  min-width: 1920px;
  height: 100%;
  min-height: 1080px;
  right: 0;
  z-index: 100000;
}

/* ------------------------------------------------------- */
/* 自己紹介部分です。 */
/* ------------------------------------------------------- */
.self-introduction{
  right: 100%;
}
/* ------------------------------------------------------- */
/* ポートフォリオ部分です。 */
/* ------------------------------------------------------- */
.works{
  right: 200%;
}
/* ------------------------------------------------------- */
/* お問い合わせ部分です。 */
/* ------------------------------------------------------- */
.inquiry{
  right: 300%;
}
@media screen and (max-width: 375px) {
  /* ------------------------------------------------------- */
  /* iphoneX用の設定です。 */
  /* ------------------------------------------------------- */

}
